
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Customise the menu</title>
		<meta name="description" content="Sandwich Ordering Service - Edit menu">
		<meta name="author" content="Daniel Jones">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script src='https://kit.fontawesome.com/a076d05399.js'></script>
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
		<h1>Customise the menu</h1>
		<div class="dropdown">
			<button class="dropbtn"><i class='fas fa-user-alt' style='font-size:16px'></i> {{this.user}}</button>
			<div class="dropdown-content">
				<a href="/orders">Current orders</a>
				<a href="/orders/history">Order history</a>
				<a href="/logout">Log Out</a>
			</div>
		</div>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
			<h2>Add a new item to the menu</h2>
			<form method="post" action="/menu/edit" enctype="multipart/form-data">
				<p>
					<label for="item">Item name</label><br />
					<input type="text" name="item" placeholder="name of the new menu item" value="" autofocus required />
				</p>
				<p>
					<label for="price">Price</label><br />
					<label>£</label><input type="number" min="0.01" step="0.01" name="price" placeholder="price of the new item" value="" autofocus required />
				</p>
				<p>
					<label for="item">Ingredients</label><br />
					<input type="text" name="ingredients" placeholder="ingredients (e.g Bacon, Lettuce)" value=""/>
				</p>
				<p>
					<label for="item">Category</label><br />
					<select name="category">
						<option value="Sandwich">Sandwich</option>
						<option value="Snack">Snack</option>
						<option value="Drink">Drink</option>
					</select>
				</p>
				<p>
					<label for="picture">Picture</label><br />
					<input type="file" name="picture" accept="image/*" />
				</p>
				<p><input type="submit" value="Add new item"></p>
			</form>
		</main>
	</body>
</html>
